body {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

section {
  border: 2px solid #fff;
  background-color: #000;
  padding: 1em;
  display: table;
  margin: 0 auto;
  width: 25em;
}

section > h3 {
  font-weight: normal;
  text-align: center;
  margin: 0;
}

fieldset {
  margin-top: 1em;
  border-color: #fff;
}

fieldset legend {
  background-color: #000;
  color: #fff;
  border: 1px solid;
  padding: 0.1em 0.25em;
}

.field-group label,
.field-group input {
  display: block;
}

.field-group label {
  font-size: 0.8em;
  margin-top: 0.5em;
}

.field-group input {
  background-color: #faede5;
  border: 1px solid #d35400;
  border-radius: 0.7em;
  font-size: 1.3em;
  margin: 0.25em 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  height: 1.3em;
}

.field-group input:focus {
  outline: none;
  border-width: 2px;
}

.field-group .field {
  display: inline-block;
}

.name,
.card-number,
.submit {
  width: 100%;
}

.month,
.year,
.cvv {
  text-align: center;
}

.cvv {
  width: 25%;
}

.month {
  width: 31%;
}

.year {
  width: 40%;
}

.images {
  text-align: center;
}

.images div {
  display: inline-block;
  transform: scale(0.5);
}

div.images div:nth-of-type(n+2) {
  margin-left: -3em;
}

.visa,
.mastercard,
.discover,
.amex {
  background: url(../images/credit-card-types.jpg) no-repeat;
  border: 1px solid #fff;
}

.visa {
  width: 102px;
  height: 67px;
  background-position: -3px -3px;
}

.mastercard {
  width: 107px;
  height: 67px;
  background-position: -109px -3px;
}

.discover {
  width: 103px;
  height: 67px;
  background-position: -3px -83px;
}

.amex {
  width: 103px;
  height: 67px;
  background-position: -111px -83px;
}

label[for="cvv"] {
  position: relative;
}

i.fa-question-circle:hover + #cvv-tooltip {
  display: block;
}

#cvv-tooltip {
  font-size: 0.9em;
  line-height: 1.2em;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.5em;
  display: none;
  width: 20em;
  border: 1px solid #fff;
  text-align: center;
  top: 0;
  right: -20em;
}

#cvv-tooltip img {
  width: auto;
  height: 11em;
  margin: 0 auto;
}

#cvv-tooltip p {
  text-align: justify;
}

button[type="submit"] {
  width: 100%;
  height: 3em;
  border: 0;
  background-color: #d35400;
  cursor: pointer;
  color: #fff;
  font-size: 2em;
  text-align: center;
  border-radius: 0.7em;
  margin: 0.5em 0 0 0;
  padding: 0 0.5em;
}

button[type="submit"]:active {
  background-color: #bd4b00;
}

button[type="submit"]:focus {
  outline: none;
}

form.validate input:invalid,
form.validate select:invalid,
form.validate textarea:invalid {
  border: 3px solid #c0392b;
  outline: none;
}