body {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

section {
  border: 2px solid #fff;
  background-color: #000;
  padding: 1em;
  display: table;
  margin: 0 auto;
}

section > h3 {
  font-weight: normal;
  text-align: center;
  margin: 0;
}

fieldset {
  margin-top: 1.25em;
  border-color: #fff;
}

fieldset legend {
  background-color: #000;
  color: #fff;
  border: 1px solid;
  padding: 0.1em 0.25em;
}

input:focus {
  outline: none;
}

.field-group label,
.field-group input,
.field-group button {
  display: block;
}

.field-group label {
  font-size: 0.8em;
  margin-top: 0.5em;
}

.field-group input[type="text"] {
  font-size: 1.3em;
  height: 1.3em;
  margin: 0.25em 0;
  border-radius: 0.7em;
  background-color: #faede5;
  border: 1px solid #d35400;
  padding: 0 0.5em;
}

.field-group input[type="text"]:focus {
  border: 2px solid #d35400;
}

.field-group .field {
  display: inline-block;
}

.field.checkbox input,
.field.checkbox label {
  display: inline;
}

.field.checkbox input {
  margin: 0 0.25em 0.25em 0.1em;
  vertical-align: bottom;
  cursor: pointer;
}

.field.checkbox label {
  vertical-align: top;
}

.field.name input,
.field.street-address input,
.field.country input,
.field.phone input {
  width: 18em;
}

.field.city input {
  width: 8em;
}

.field.state {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.field.state input {
  width: 3.3em;
}

.field.zipcode input {
  width: 5em;
}

fieldset#submit {
  padding: 0;
  height: 4em;
}

button[type="submit"] {
  width: 12.5em;
  height: 3em;
  border: 0;
  background-color: #d35400;
  cursor: pointer;
  color: #fff;
  font-size: 2em;
  text-align: center;
  border-radius: 0.7em;
  margin: 0.25em 0 0 0.1em;
  padding: 0 0.5em;
}
/*width: 100%;*/
/*font-size: 1.3em;*/
/*text-align: center;*/
/*height: 1.5em;*/
/*border-radius: 0.7em;*/
/*background-color: #faede5;*/
button[type="submit"]:active {
  background-color: #bd4b00;
}

.name input,
.street-address input,
.city input,
.country input {
  text-transform: capitalize;
}

.state input {
  text-transform: uppercase;
}



