body {
  background-color: rgba(0, 0, 0, 0.7);
}

div#login-box {
  position: absolute;
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.5em solid black;
  font-size: 1.5em;
  border-radius: 0.25em;
}

.input-group {
  display: table;
}

.input-group > * {
  display: table-cell;
}

.border-bottom {
  border-bottom: 0.6em solid black;
}

.input-group-addon {
  background-color: #faede5;
  border: 1px solid #d35400;
  border-radius: 10px 0 0 10px;
  padding: 0.25em;
  color: #d35400;
}

.input-group input[type="text"],
.input-group input[type="password"] {
  background-color: #faede5;
  font-size: 1.2em;
  border: 1px solid #d35400;
  border-radius: 0 10px 10px 0;
  padding: 0 0.25em;
  height: 105%;
}

.input-group.button {
  position: absolute;
  top: 0.4em;
  right: -2em;
  border: 1px solid black;
  border-radius: 50%;
}

.button button {
  color: #d35400;
  background-color: black;
  border-radius: inherit;
  border: 0.8em solid #d35400;
  padding-top: 0;
  padding-bottom: 1px;
}

.button button:focus {
  outline: none;
  color: #bd4b00;
  border-color: #bd4b00;
}

.forgot-pass {
  background-color: black;
  font-size: 0.6em;
  text-align: center;
  color: #fff;
  /*border: 1px solid #fff;*/
}

.forgot-pass a,
.forgot-pass a:active,
.forgot-pass a:visited {
  text-decoration: none;
  color: #d35400;
  font-weight: bold;
}